.header{
    background-color: #455A64;
    padding: 16px 0;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 980px;
}

.form {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    gap: 8px;

}

.input {
    width: 100%;
    max-width: 400px;
    height: 48px;
    border: 1px solid #536DFE;
    border-radius: 8px;
    padding: 0 16px;
}

.input::placeholder{
    color: black;
}

.btn {
color: #FFFFFF;
background-color: #607D8B;
}